


:root {
  --background: #ffffff; /* Light Mode Background */
  --foreground: #171717; /* Light Mode Text Color */
  --primary: #0070f3; /* Light Mode Primary Color */
  --secondary: #333; /* Light Mode Secondary Color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark Mode Background */
    --foreground: #ffffff; /* Dark Mode Text Color */
    --primary: #1d72b8; /* Dark Mode Primary Color */
    --secondary: #000000; /* Dark Mode Secondary Color */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f9f9f9; /* Pastel Mode Background */
    --primary: #ff6b6b; /* Pastel Mode Primary Color */
    --secondary: #4ecdc4; /* Pastel Mode Secondary Color */
    --foreground: #333; /* Pastel Mode Text Color */
  }
}

body {
  color: var(--foreground);
  background: var(--background), url('/public/1.jpg') no-repeat center center fixed; /* Fallback color */
  background-size: cover; /* Cover the entire body */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.heading {
  font-size: 4rem;
  color: #333;
}

.score {
  font-size: 1.5rem;
  margin: 10px 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
